{{#ci.validate.swiftformat}}
# Minimum swiftformat version
--minversion {{version}}

# Swift version
--swiftversion 5.9

# file options
--exclude .build

# rules
--disable redundantReturn, extensionAccessControl, typeSugar, conditionalAssignment, preferForLoop{{#disable}}, {{.}}{{/disable}}

# format options
--ifdef no-indent
--nospaceoperators ...,..<
--patternlet inline
--self insert
--stripunusedargs unnamed-only

#--maxwidth 150
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
{{/ci.validate.swiftformat}}
