{{#ci}}
name: Swift nightly build

on:
{{#nightly}}
  schedule:
    - cron: '0 1 * * {{#every}}*{{/every}}{{^every}}1{{/every}}'
{{/nightly}}
  workflow_dispatch:

jobs:
{{#mac}}
  macOS:
    runs-on: macOS-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
{{#enable_tests}}
    - name: SPM tests
      run: swift test
{{/enable_tests}}
{{^enable_tests}}
    - name: Build
      run: |
        swift build
{{/enable_tests}}
{{/mac}}
{{#linux}}
  linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image: ['nightly-focal', 'nightly-jammy', 'nightly-amazonlinux2']
    {{{services}}}
    container:
      {{=<< >>=}}
      image: swiftlang/swift:${{ matrix.image }}
      <<={{ }}=>>
      {{#env}}
      env:
      {{#entries}}
        {{{.}}}
      {{/entries}}
      {{/env}}
    steps:
    - name: Checkout
      uses: actions/checkout@v3
{{#enable_tests}}
    - name: Test
      run: |
        swift test --enable-test-discovery
{{/enable_tests}}
{{^enable_tests}}
    - name: Build
      run: |
        swift build
{{/enable_tests}}
{{/linux}}
{{/ci}}
