{{#ci.validate}}
name: Validity Check

on:
  workflow_dispatch:
  
jobs:
  validate:
    runs-on: macOS-latest
    timeout-minutes: 15
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 1
{{#swiftformat}}
    - name: Install Dependencies
      run: |
        brew install mint
        mint install NickLockwood/SwiftFormat@{{version}} --no-link
{{/swiftformat}}
    - name: run script
      run: ./scripts/validate.sh
{{/ci.validate}}