{{#ci.validate}}
name: Validity Check

on:
  pull_request:
  workflow_dispatch:

concurrency:
{{=<< >>=}}
  group: ${{ github.workflow }}-${{ github.ref }}-validate
<<={{ }}=>>
  cancel-in-progress: true
  
jobs:
  validate:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 1
{{#swiftformat}}
    - name: Install Dependencies
      run: |
        brew install mint
        mint install NickLockwood/SwiftFormat@{{version}} --no-link
{{/swiftformat}}
    - name: run script
      run: ./scripts/validate.sh
{{/ci.validate}}